*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --generalPaddingLeft: 2rem; 
    --principal-color: #3D72FD;
    --text-white: #f1f1f1;
}
@font-face {
    font-family: 'Sansation';
    src: url(/fonts/Sansation_Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
.main-container{
    font-family: 'Sansation';
    display: grid;
    grid-template-columns: repeat(12,1fr);    
    height: 100vh;
}   
header {    
    grid-column:1/9;
    grid-row: 1;
    max-height: 100px ;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-gap: 0px;    
    padding-top: 1rem;
    padding-bottom: 1rem;                   
}
.logo-container {
    grid-column: 2/4; 
    display: flex;
    align-items: center;   
    height: auto;
    width: auto;    
}
#logo-img {
    height: 40px;
}
.nav-item-container {
    grid-column: 5/6;
}
.centered {
    display: flex;    
    justify-content: center;
    align-items: center;
}
.get-started-container a{
    background-color: var(--principal-color);        
    color: var(--text-white);
    border-radius: 8px;    
    padding: 1rem;    
    text-decoration: none;
}
.img-store-container {
    grid-column: 9/13;   
    grid-row: 1/8;        
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-color: orange;
}
.img-store-container img {    
    height: 100%;
}
.presentation-section {
    grid-column: 1/9;            
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-gap: 10px;
    height: 100%;    
}
.presentation-container {
    grid-column: 2/5;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    height: calc(100vh - 72px);        
}
.description-container {
    grid-column: 2/5;        
}
h1 {
    font-size: 2.5rem;
} 
.margin-p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
    .presentation-container {
        grid-column: 2/8;        
    }
    header {
        grid-column: 2/12;
    }
    .img-store-container {
        position: absolute;
        background-color: black;
        height: 100vh;
        width: 100%;
        text-align: center;        
        z-index: -1;
        -webkit-mask-image: linear-gradient(black, transparent);
        mask-image: linear-gradient(black, transparent);        
    }
    body {
        background-color: black;        
    }
}